<h1>Create a new recipe!</h1>

<form method="POST" action="/recipes/new">
  <label for="name">Recipe name: </label><br>
  <input id="name" type="text" name="name"><br>
  <label for="ingredients">Recipe ingredients: </label><br>
  <input id="ingredients" type="text" name="ingredients"><br>
  <label for="cook_time">Cook time: </label><br>
  <input type="text" name="recipe_cook_time"><br>
  <input type="submit" value="Create recipe!">
</form>

<h3><a href="/recipes">See all recipes</a></h3>
<h3><a href="/">Back to homepage</a></h3>