<h1>Create a new Recipe:</h1>

<form action="/recipes" method="POST">
    <label for="name">Recipe name:</label>
    <input type="text" id="name" name="name">
    <br>
    <label for="ingredients">Recipe ingredients:</label>
    <input type="text" id="ingredients" name="ingredients">
    <br>
    <label for="cook_time">Recipe cook time:</label>
    <input type="text" id="cook_time" name="cook_time">
    <br>
    <input type="submit" value="Submit">
</form>

